* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.LOGO{
    background-color: rgb(204, 221, 207);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 20px 5%;
    
}.container{
    width: 30%;
    height: 35vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

